<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FDM_GA_Program.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SpzmBroker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <FDM_GA_Program.Properties.Settings>
            <setting name="DatasetFilePath" serializeAs="String">
                <value>C:\GDBCup\Spring2017\DataSets\Dataset 2015 4 months - 5 Min.csv</value>
            </setting>
            <setting name="FormatFile" serializeAs="String">
                <value>C:\Program Files\AmiBroker\Formats\wizard.format</value>
            </setting>
            <setting name="ProgramFolderPath" serializeAs="String">
                <value>C:\Program Files\AmiBroker\GA Results</value>
            </setting>
            <setting name="DatabaseFolderPath" serializeAs="String">
                <value>C:\\Program Files\AmiBroker\Data</value>
            </setting>
            <setting name="MaxRules" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="PopulationSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="TradeType" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Generations" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ProfitFilterMin" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Stop" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="PosSize" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="StartDate" serializeAs="String">
                <value>2017-01-01</value>
            </setting>
            <setting name="EndDate" serializeAs="String">
                <value>2017-04-26</value>
            </setting>
            <setting name="kairi" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PR" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KF" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ITrend" serializeAs="String">
                <value>False</value>
            </setting>
        </FDM_GA_Program.Properties.Settings>
        <SpzmBroker.Properties.Settings>
            <setting name="DatasetFilePath" serializeAs="String">
                <value>C:\GDBCup\Spring2017\DataSets\Dataset 2015 4 months - 5 Min.csv</value>
            </setting>
            <setting name="FormatFile" serializeAs="String">
                <value>C:\Program Files\AmiBroker\Formats\wizard.format</value>
            </setting>
            <setting name="ProgramFolderPath" serializeAs="String">
                <value>C:\Program Files\AmiBroker\GA Results</value>
            </setting>
            <setting name="DatabaseFolderPath" serializeAs="String">
                <value>C:\\Program Files\AmiBroker\Data</value>
            </setting>
            <setting name="MaxRules" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="PopulationSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="TradeType" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Generations" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ProfitFilterMin" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Stop" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="PosSize" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="StartDate" serializeAs="String">
                <value>2017-01-01</value>
            </setting>
            <setting name="EndDate" serializeAs="String">
                <value>2017-04-26</value>
            </setting>
        </SpzmBroker.Properties.Settings>
    </userSettings>
</configuration>